
@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageTitle = "Dashboard";
    ViewBag.PageSubTitle = "All your posts are here.";
}

<div class="span4 sidebar">
    <ul class="nav nav-list sidenav">
        <li class="active">
            <a href="#post1">Blog Post One For The Win <span class="pull-right">Posted: 02/01/2015 <span class="label label-success"><i class="fa fa-fw fa-check"></i></span></span></a>
        </li>
        <li>
            <a href="#post1">Blog Post One For The Win <span class="pull-right">Posted: 02/01/2015 <span class="label label-important"><i class="fa fa-fw fa-times"></i></span></span></a>
        </li>
        <li>
            <a href="#post1">Blog Post One For The Win <span class="pull-right">Posted: 02/01/2015 <span class="label"><i class="fa fa-fw fa-edit"></i></span></span></a>
        </li>
    </ul>
</div>

<div class="span8 main">
    <div class="card">
        <h3 class="card-heading simple">Blog Post One</h3>
        <div class="card-body">
            <p>Something here</p>
        </div>
    </div>
</div>

